@use 'base' as *;

.no-results {
    background-color: $color-bunting-default;
    color: $color-white;
    min-height: 40vh;
    padding: 60px 20px;

    &__text {
        font-family: $font-family;
        font-size: 1.563rem;
        text-align: center;
    }
}
